<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>フルネス文具管理画面</title>
</head>

<body>
    <!-- <div align="center"> -->
       <h2>商品検索</h2><br>
        <form th:action="@{/products/search}" method="POST" th:object="${productCategoryForm}">
            <select th:field = "*{catId}">
            <!-- <select name = "catId"> -->
            <option value="0">選択してください</option>
            <option th:each="category : ${category}"
                    th:value="${category.catId}"
                    th:text="${category.name}"
                    th:selected="${category.catId == selectedCatId}">
            </option>
            </select>
            <button type="submit">カテゴリ検索</button>
            <button type="link">商品追加</button><br>
        <table>
        </form>
            <tr>
            <th>商品画像</th>
            <th>商品名</th>
            <th>単価</th>
            <th>修正</th>
            <th>削除</th>
            <th></th>
            </tr>
            <tr th:each="product : ${productList}">
                <!-- <td><img th:src="@{/images/{img}(img=${product.image})}" alt="商品画像" width="50" height="50"></td> -->
                <!-- <td>画像</td> -->
                <td th:text="${product.name}"></td>
                <td th:text="${product.price}"></td>
                <td><button type="link">修正</button></td>
                <td><button type="link">削除</button></td>
            </tr>
        </table>
    <!-- </div> -->
</body>

</html>